body{
    background-color: rgb(253, 253, 245);
}

h2{
    color:rgb(84, 73, 71);
    text-align: center;
}

p{
    color:rgb(84, 73, 71);
    text-align: center;
}

a{
    text-align: center;
}

input{
    text-align: center;
}

#container{
    text-align: center;
}

button{
    font-size: 10px;
    padding: 10px;
    display: block;
    margin: auto;
}